@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700&family=Poppins:ital,wght@0,100;0,400;1,100&display=swap');
* {
  margin: 0;
  padding: 0;
  direction: rtl!important;
}
.single.selection-tag{
  display: none;
}
body {
  background-image: url("assets/img/large_75.jpg");
  background-size: cover;
}

button {
  color: var(--tg-theme-button-text-color);
  background: var(--tg-theme-secondary-bg-color);
}




.quiz-container-ar {
  display: flex;
  justify-content: center;
  align-items: stretch;
  font-family: 'Almarai', Helvetica, sans-serif;
  max-width: 100vw;
}

.quiz-container-ar h2 {
  font-size: 2em;
}
.quiz-container-ar h3 {
  font-size: 1.5em;
}
.question-image {
  margin-right: 20px;
  max-width: 200px;
  max-height: 200px;
}
.questionWrapperBody{
  display: grid;
  grid-auto-flow: row;  
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.questionWrapperBody img{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  cursor: pointer;
  height: 150px;
}
.questionWrapperBody h3, .tag-container ,div{
  grid-column: 1 / span 2;
}
.nextQuestionBtn{
  background-color: #673AB7;
  color: white;
}